



.test{

    background-color:  red;

}



/* Attr Selector */
/* input[type = "text"]{

    background-color: red;
} */

/* Universal Selector   it's means select all itmes*/
*{
    margin: 0;
    padding: 0;
}


/* Navbar */


.navbar {

    background :  #333;}



.navbar h2 {

    font-size: 35px;
    width: 20%;
    padding: 5;
    color: white;
    float: left;
}

.navbar > ul {
    
    color: antiquewhite;
    list-style: none;
    width: 80%;
}



.navbar > ul li {
    display: inline-block;
    width: 100px;

}


.navbar  > ul li a {

    color: rgb(216, 20, 151);
    text-decoration: none;
    padding: 20px;
    display: block;

}

/* Dropdown */

.navbar > ul li {
    position: relative;
}


.navbar > ul li ul {
    position: absolute;
    display: none;
}

/* لمن بشاور بحرك الموس على حرف الاي رح يطلع اليوال الي بعدو */
.navbar  > ul li a:hover + ul {
    display: block;
}

.clear {
    clear: both;
}


/* Css form */


form input , form select{
margin: 20px;
padding: 20px;
display: block;
width: 40%;
}


form input:focus{
    background: lightblue;
    border: 3px solid #555;
}


/* After and before */

/* 

ملاحظة لمن ما بحسن بحط طول و عرض بيكون العناصر اين لاين

*/

.ulitem{
    padding: 20px;
    list-style: none;
}


.ulitem li::before  {
content: "";
display: inline-block;
width: 5px;
height: 5px;
background: red;
margin-right: 10px;
vertical-align: middle;
} 


/*  Css Units  px em rem vh vw   ----em (relative to parent element) --- rem (relative to root element) */

.parent {
    font-size:  15px;
}



.child {
    background: red;
    width: 50vw;
}


/* Gallery */


/* More about Nesting */

/*  اذا كانت ال ب ملزوقة ب كلمة الايتمز معناها اعطيني ال ب الي اسم الكلاس تبعها الايتمز */


p.item {
    color: red;
}


/* Specificity */












