


/* Comments*/

/*

Selector == HTML Tag

Rule -----> Selector -----> Declaration-----> Property and Value

Selector {
    Property: Value ;  (Declaration means) 
    Property: Value ;
    Property: Value ;
    Property: Value ;
}
*/

/* Background*/
/* background---> url---> no-repeat--->fixed---> 10px 10px */
body {
     /* color: red;    background-color: green ; */
    /* color: red;    background-color: green ; */
    /* height: 5000px;
    background-image: url(images/image.jpg);

    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; */

    /* color: white;
    
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed ; */



}

/* div{
    background-image: url(images/image.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
     
}
 */

.First{
    color: white;
    width: 200px;
    min-width: 100px;
    max-width: 150;
    height:  200px;
    background: rebeccapurple;
}


button{
    min-width: 200 px;
    background-color: blue;
    color: white;
}



/*  Margin & padding and border and outline */


.second{
    color: black;
    width: 200px;
    min-width: 100px;
    max-width: 150;
    height:  200px;
    background: rgb(110, 15, 206);
    margin: 10px ;
    padding:  10px;   
    /* border: 2px dashed red;  */
    /* border-bottom: 20px dashed blue; */
    overflow: auto ;
}




/* Text properties */

.Text{
    
    text-align: center;
color:rgb(206, 15, 15) ;
/* letter-spacing: 5px; */
/* word-spacing: 10px; */
line-height: 20px;
text-decoration: wavy;

}




html{
    direction: ltr;
}


h1{
    text-transform: uppercase;
}


/* Font */


.Format{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
    font-weight: bold;
    

}



/*  List properery */

ul {
    text-align:  center;
    list-style-type: disc;
    list-style-position:inside
     
}









